* { 
    box-sizing: border-box;
}

body {
    background-color: black;
    padding: 10px 60px;
}

h1, p, a, li {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid white;
}

h1 {
    font-family: 'Dancing Script';
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

a {
    font-family: 'Montserrat';
    padding: 10px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

img {
    width: 500px;
}

p {
    font-family: 'Playfair Display';
}

footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid white;
    margin-top: 80px;
}


.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}